/**
 * Button
 */

.btn {
  padding: 10px;
  font-weight: bold;
  border-radius: 10px;
}

.btn-primary {
  background-color: white;
  color: $primary-color;
  border: 2px solid $primary-color;
  &:hover{
    background-color: $primary-color;
    color: white;
  }
}

.btn-secondary {
  background-color: white;
  color: $secondary-color;
  border: 2px solid $secondary-color;
  &:hover{
    background-color: $secondary-color;
    color: white;
  }
}

.btn-success {
  background-color: white;
  color: $success-color;
  border: 2px solid $success-color;
  &:hover{
    background-color: $success-color;
    color: white;
  }
}

.btn-warning {
  background-color: white;
  color: $warning-color;
  border: 2px solid $warning-color;
  &:hover{
    background-color: $warning-color;
    color: white;
  }
}

.btn-danger {
  background-color: white;
  color: $danger-color;
  border: 2px solid $danger-color;
  &:hover{
    background-color: $danger-color;
    color: white;
  }
}

.btn-info {
  background-color: white;
  color: $info-color;
  border: 2px solid $info-color;
  &:hover{
    background-color: $info-color;
    color: white;
  }
}

.btn-dark {
  background-color: white;
  color: $dark-color;
  border: 2px solid $dark-color;
  &:hover{
    background-color: $dark-color;
    color: white;
  }
}

.btn-light {
  background-color: white;
  color: $dark-color;
  border: 2px solid $light-color;
  &:hover{
    background-color: $light-color;
    color: $dark-color;
  }
}

/**
 * Alert
 */

.alert{
  padding: 0.5% 1%;
  width: 100%;
  &.alert-primary{
    background-color: $primary-color;
    color: $white-color;
  }

  &.alert-secondary{
    background-color: $secondary-color;
    color: $white-color;
  }

  &.alert-success{
    background-color: $success-color;
    color: $white-color;
  }

  &.alert-warning{
    background-color: $warning-color;
    color: $white-color;
  }

  &.alert-danger{
    background-color: $danger-color;
    color: $white-color;
  }

  &.alert-info{
    background-color: $info-color;
    color: $white-color;
  }

  &.alert-dark{
    background-color: $dark-color;
    color: $white-color;
  }

  &.alert-light{
    background-color: $light-color;
    color: $dark-color;
  }
}

/**
 * Card
 */

.card {
  border: 1px solid $secondary-color;
  .card-body{
    padding: 10px;
    .card-title {
      margin: 1%;
    }

    .card-text{
      margin: 4% 1%;
      font-size: 1rem;
      color: $secondary-color;
    }
  }
}

/**
 * Jumbotron
 */

.jumbotron {
  width: 100%;
  margin: 1% 0px;
  padding: 2%;
}

/**
 * Navbar
 */

.navbar {
  display: flex;
  min-height: 100px;
  align-items: center;
  justify-content: space-between;
  background-color: $primary-color;

  .navbar-left {
    flex: 1;
  }

  .navbar-title {
    flex: 2;
  }

  img{
    height: 80px;
    width: auto;
  }

  ul {
    list-style-type: none;
    display: flex;
  }

  li{
    display: inline-block;
    text-align: center;
    width: 200px;
    a {
      color: $white-color;
      font-weight: lighter;
      font-size: 1.5rem;
      text-decoration: none;
      &:hover{
        padding-bottom: 5px;
        border-bottom: 5px solid $white-color;
      }
    }
  }
}






