/**
 * Initial Variable
 */

$width_basis : 8.3333%;
$font-family: 'Open Sans', sans-serif;
$primary-color: deeppink;
$secondary-color: #66757f;
$success-color: #19cf86;
$warning-color: #fab81e;
$danger-color: #e81c4f;
$info-color: #1b95e0;
$dark-color:#1d2124;
$light-color: #e6ecf0;
$white-color: white;